<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540186883924-ha69mptc3vthf4uni77qrpd39d806i7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540186883924-ha69mptc3vthf4uni77qrpd39d806i7g</string>
	<key>API_KEY</key>
	<string>AIzaSyCOn4WARbY9moYAQ9l39IwiT-b64hdWw8M</string>
	<key>GCM_SENDER_ID</key>
	<string>540186883924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krieytive.campusprint</string>
	<key>PROJECT_ID</key>
	<string>campusprint-3bf2d</string>
	<key>STORAGE_BUCKET</key>
	<string>campusprint-3bf2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540186883924:ios:904aff628fe24361657ac1</string>
	<key>DATABASE_URL</key>
	<string>https://campusprint-3bf2d.firebaseio.com</string>
</dict>
</plist>